body {
    background-color: bisque;
}

h1,
h2 {
    text-align: center;
}

.layout-container {
    display: flex;
    justify-content: space-between;
    animation: dropIn 1s ease forwards;
    animation-delay: calc(var(--order) * 100ms); opacity: 0;
}

.faq {
    width: 30%;
    padding: 10px;
}

.contact-container {
    width: 40%;
    padding: 10px;
    align-items: center;
}

.image-container {
    width: 30%;
    padding: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    animation: dropIn 1s ease forwards;
    animation-delay: calc(var(--order) * 100ms); opacity: 0;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 15px;
}

.pic {
    width: 100%;
}

.button-41 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #00D775, #00BD68);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: larger;
    height: 75px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
}

.button-41:hover {
    background: #00bd68;
}